@media only screen and (max-width:768px){
    header{
        height: 15vh;
    }
    header h1{
        font-size: 12px;
    }
    header .filter{
        width: 95%;
        height: auto;
        padding:5px 5px 5px 5px;
    }
    header .filter .input .input::placeholder{
        font-size: 1px;
    }
    header .filter .input{
        flex-wrap: wrap;
    }
    header .filter .input .tag{
        margin-right: 2px;
        height: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    header .filter .input input{
        font-size: 10px;
        padding:0 2px;
        min-width: 20%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    header .filter .input .tag #text{
        font-size: 8px;
        padding:3px;
    }
    header .filter .input .tag #remove{
        width:15px;
        height: 100%;
        font-size: 8px;
    }
    header .filter #clear{
        display: none;
    }
    header .select{
        width: 95%;
    }
    section{
        background-color: hsl(180, 52%, 96%);
        width: 100vw;
        min-height: 85vh;
        height: auto;
    }
    section .jobs{
        height: auto;
        width: 95%; 
        padding-top: 30px;
    }
    section .jobs .job{
        padding:5px;
        margin-bottom: 5px;
        flex-direction: column;
        align-items: flex-start;
    }
    section .jobs .job:hover{
        transform: scale(1,1);
    }
    section .jobs .job .left .avator{
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    section .jobs .job .left .jobinfo .company span{
        font-size: 8px;
        padding:1px 0px;
    }
    section .jobs .job .left .jobinfo .name{
        padding:1px;
        font-size: 10px;
    }
    section .jobs .job .left .jobinfo .additional span{
        font-size: 8px;
    }
    section .jobs .job .left .jobinfo .company .new{
        padding:1px 5px;
        font-size: 8px;
        margin:0px 3px;
    }
    section .jobs .job .right span{
        font-size: 10px;
        padding:2px 5px;
        margin-left: 5px;
    }
}
@media only screen and (max-width:1024px){
    header .filter{
        width: 80%;
    }
    section .jobs{
        width: 80%;
    }
    header .select{
        width: 80%;
    }
}